<!DOCTYPE html>
<html lang="en">
<head>
  <title>Casumi | 404</title>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">
  
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Merriweather:300,400,700%7CBarlow:400,400i,600,700' rel='stylesheet'>

  <!-- Css -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/font-icons.css" />
  <link rel="stylesheet" href="css/cookieconsent.min.css" />
  <link rel="stylesheet" href="css/style.css" />

  <!-- Favicons -->
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="apple-touch-icon" href="https://deothemes.com/envato/casumi/html/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

</head>

<body>

  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      "Loading..."
    </div>
  </div>

  <main class="main-wrapper">

    <!-- Navigation -->
    <header class="nav">
      <div class="nav__holder nav--sticky">
        <div class="container-fluid container-semi-fluid nav__container">
          <div class="flex-parent">

            <!-- Search form -->
            <form role="search" method="get" class="nav__search-form">
              <input type="search" class="nav__search-input" id="nav__search-input" placeholder="Type &amp; Hit Enter">
              <i class="ui-close nav__search-close" id="nav__search-close"></i>
            </form>

            <div class="nav__header">
              <!-- Logo -->
              <a href="index.html" class="logo-container">
                <img class="logo" src="img/logo.png" srcset="img/logo.png 1x, img/logo@2x.png 2x" alt="logo">
              </a>

              <!-- Mobile toggle -->
              <button type="button" class="nav__icon-toggle" id="nav__icon-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="nav__icon-toggle-bar"></span>
                <span class="nav__icon-toggle-bar"></span>
                <span class="nav__icon-toggle-bar"></span>
              </button> 
            </div>                      

            <!-- Navbar -->
            <nav id="navbar-collapse" class="nav__wrap collapse navbar-collapse nav--align-right">
              <ul class="nav__menu">
                <li class="nav__dropdown active">
                  <a href="index.html" aria-haspopup="true">Home</a>
                  <i class="ui-arrow-down nav__dropdown-trigger" role="button" aria-haspopup="true" aria-expanded="false"></i>
                  <ul class="nav__dropdown-menu">
                    <li><a href="index.html">Home 1</a></li>
                    <li><a href="index-2.html">Home 2</a></li>
                  </ul>
                </li>
                <li class="nav__dropdown">
                  <a href="404.html#" aria-haspopup="true">Pages</a>
                  <i class="ui-arrow-down nav__dropdown-trigger" role="button" aria-haspopup="true" aria-expanded="false"></i>
                  <ul class="nav__dropdown-menu">
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="https://deothemes.com/envato/casumi/html/contact.html">Contact</a></li>
                    <li><a href="404.html">404</a></li>
                  </ul>
                </li>
                <li class="nav__dropdown">
                  <a href="blog.html" aria-haspopup="true">Features</a>
                  <i class="ui-arrow-down nav__dropdown-trigger" role="button" aria-haspopup="true" aria-expanded="false"></i>
                  <ul class="nav__dropdown-menu">
                    <li><a href="icons.html">Icons</a></li>
                    <li><a href="elements.html">Elements</a></li>
                  </ul>
                </li>
                <li class="nav__dropdown">
                  <a href="blog.html" aria-haspopup="true">Blog</a>
                  <i class="ui-arrow-down nav__dropdown-trigger" role="button" aria-haspopup="true" aria-expanded="false"></i>
                  <ul class="nav__dropdown-menu">
                    <li><a href="blog.html">Blog Standard</a></li>
                    <li><a href="blog-masonry.html">Blog Masonry</a></li>
                    <li class="nav__dropdown">
                      <a href="single-post-1.html" aria-haspopup="true">Single Post</a>
                      <i class="ui-arrow-down nav__dropdown-trigger" role="button" aria-haspopup="true" aria-expanded="false"></i>
                      <ul class="nav__dropdown-menu">
                        <li><a href="single-post-1.html">Fullwidth</a></li>
                        <li><a href="single-post-2.html">With Sidebar</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="404.html#">Purchase</a>
                </li>
              </ul> <!-- end menu -->

              <!-- Mobile Phone -->
              <div class="nav__phone-mobile d-lg-none">
                <a href="tel:1-800-995-3959" class="nav__phone-number">1-800-995-3959</a>
              </div>
              

              <!-- Mobile Search -->
              <div class="nav__search-mobile d-lg-none">
                <form role="search" method="get" class="search-form relative">
                  <input type="search" class="search-input" placeholder="Search" />
                  <button type="submit" class="search-button" aria-label="search button"><i class="ui-search search-icon"></i></button>
                </form>
              </div>

            </nav> <!-- end nav-wrap -->            


            <!-- Nav Right -->
            <div class="nav__right d-none d-lg-flex">
              <div class="nav__right-item">
                <a href="tel:1-800-995-3959" class="nav__phone-number">1-800-995-3959</a>
              </div>

              <!-- Search -->
              <div class="nav__right-item nav__search">
                <a href="404.html#" class="nav__search-trigger" id="nav__search-trigger">
                  <i class="ui-search"></i>
                </a>               
              </div> 

            </div> <!-- end nav right -->
        
          </div> <!-- end flex-parent -->
        </div> <!-- end container -->

      </div>
    </header> <!-- end navigation -->

    <div class="content-wrapper oh">

			<!-- 404 -->
			<section class="section-wrap error404 bg-overlay bg-overlay--white" style="background-image: url('img/page_title/404.jpg')">
				<div class="container">					
					<div class="row justify-content-center">
						<div class="col-lg-3 text-center">
							<span class="error404__number">404</span>
						</div>		
						<div class="col-lg-7 text-md-center">			
							<h1 class="error404__title">Sorry, this page doesn't exist.</h1>
							<p class="error404__text lead mb-24">
								It looks like nothing was found at this page. You can either go back to the last page or go to homepage.
							</p>
							<a href="index.html" class="btn btn--lg btn--color">
								<span>Back to Homepage</span>
							</a>			
						</div>			
					</div>
				</div>
			</section> <!-- end 404 -->


      <!-- Footer -->
      <footer class="footer">
        <div class="container">
          <div class="footer__widgets">
            <div class="row">

              <div class="col-lg-3 col-md-6">
                <div class="widget widget-about-us">
                  <!-- Logo -->
                  <a href="index.html" class="logo-container flex-child">
                    <img class="logo" src="img/logo.png" srcset="img/logo.png 1x, img/logo@2x.png 2x" alt="logo">
                  </a>
                  <div class="socials mt-32">
                    <a href="404.html#" class="social social-twitter" aria-label="twitter" title="twitter" target="_blank"><i class="ui-twitter"></i></a>
                    <a href="404.html#" class="social social-facebook" aria-label="facebook" title="facebook" target="_blank"><i class="ui-facebook"></i></a>
                    <a href="404.html#" class="social social-google-plus" aria-label="google plus" title="google plus" target="_blank"><i class="ui-google"></i></a>
                  </div>
                </div>
              </div> <!-- end about us -->


              <div class="col-lg-3 offset-lg-3 col-md-6">
                <div class="widget widget_nav_menu">
                  <h5 class="widget-title">Solutions</h5>
                  <ul>
                    <li><a href="404.html#">Finance Strategy</a></li>
                    <li><a href="404.html#">Advertising</a></li>
                    <li><a href="404.html#">SMM</a></li>
                    <li><a href="404.html#">SEO</a></li>
                    <li><a href="404.html#">Google AdWords</a></li>
                  </ul>
                </div>
              </div>


              <div class="col-lg-3 col-md-6">
                <div class="widget widget-address">
                  <h5 class="widget-title">Company</h5>
                  <ul>
                    <li><address>8910 University Center Lane Suite 620 San Diego, CA 92102</address></li>
                    <li>
                      <span>Phone: </span>
                      <a href="tel:+1-800-1554-456-123">+ 1 (800) 155 4561</a>
                    </li>
                    <li>
                      <span>Email: </span>
                      <a href="mailto:hi@margin.com">hi@margin.com</a>
                    </li>
                  </ul>
                </div>
              </div>           

            </div>
          </div>    
        </div> <!-- end container -->

        <div class="footer__bottom">
          <div class="container">
            <div class="row">              
              <div class="col-lg-6">
                <div class="widget widget_nav_menu">
                  <ul>
                    <li><a href="404.html#">About</a></li>
                    <li><a href="404.html#">Services</a></li>
                    <li><a href="404.html#">Pricing</a></li>
                    <li><a href="404.html#">Blog</a></li>
                    <li><a href="404.html#">Contact</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 text-right text-md-center">
                <span class="copyright">
                  &copy; 2019 Casumi, Made by <a href="../../../index.html">DeoThemes</a>
                </span>
              </div>
            </div>            
          </div>
        </div> <!-- end footer bottom -->
      </footer> <!-- end footer -->

      <div id="back-to-top">
        <a href="404.html#top"><i class="ui-arrow-up"></i></a>
      </div>

    </div> <!-- end content wrapper -->
  </main> <!-- end main wrapper -->
  

  <!-- jQuery Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/scripts.js"></script>

  <!-- Cookies -->
  <script src="js/plugins/cookieconsent.min.js"></script>
  <script src="js/cookies.js"></script>
    
</body>
</html>