<!DOCTYPE html>
<html lang="en">
<head>
  <title>Casumi | Icons</title>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">
  
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Merriweather:300,400,700%7CBarlow:400,400i,600,700' rel='stylesheet'>

  <!-- Css -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/font-icons.css" />
  <link rel="stylesheet" href="css/cookieconsent.min.css" />
  <link rel="stylesheet" href="css/style.css" />

  <!-- Favicons -->
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="apple-touch-icon" href="https://deothemes.com/envato/casumi/html/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

</head>

<body>

  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      "Loading..."
    </div>
  </div>

  <main class="main-wrapper">

    <!-- Navigation -->
    <header class="nav">
      <div class="nav__holder nav--sticky">
        <div class="container-fluid container-semi-fluid nav__container">
          <div class="flex-parent">

            <!-- Search form -->
            <form role="search" method="get" class="nav__search-form">
              <input type="search" class="nav__search-input" id="nav__search-input" placeholder="Type &amp; Hit Enter">
              <i class="ui-close nav__search-close" id="nav__search-close"></i>
            </form>

            <div class="nav__header">
              <!-- Logo -->
              <a href="index.html" class="logo-container">
                <img class="logo" src="img/logo.png" srcset="img/logo.png 1x, img/logo@2x.png 2x" alt="logo">
              </a>

              <!-- Mobile toggle -->
              <button type="button" class="nav__icon-toggle" id="nav__icon-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="nav__icon-toggle-bar"></span>
                <span class="nav__icon-toggle-bar"></span>
                <span class="nav__icon-toggle-bar"></span>
              </button> 
            </div>                      

            <!-- Navbar -->
            <nav id="navbar-collapse" class="nav__wrap collapse navbar-collapse nav--align-right">
              <ul class="nav__menu">
                <li class="nav__dropdown active">
                  <a href="index.html" aria-haspopup="true">Home</a>
                  <i class="ui-arrow-down nav__dropdown-trigger" role="button" aria-haspopup="true" aria-expanded="false"></i>
                  <ul class="nav__dropdown-menu">
                    <li><a href="index.html">Home 1</a></li>
                    <li><a href="index-2.html">Home 2</a></li>
                  </ul>
                </li>
                <li class="nav__dropdown">
                  <a href="icons.html#" aria-haspopup="true">Pages</a>
                  <i class="ui-arrow-down nav__dropdown-trigger" role="button" aria-haspopup="true" aria-expanded="false"></i>
                  <ul class="nav__dropdown-menu">
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="https://deothemes.com/envato/casumi/html/contact.html">Contact</a></li>
                    <li><a href="404.html">404</a></li>
                  </ul>
                </li>
                <li class="nav__dropdown">
                  <a href="blog.html" aria-haspopup="true">Features</a>
                  <i class="ui-arrow-down nav__dropdown-trigger" role="button" aria-haspopup="true" aria-expanded="false"></i>
                  <ul class="nav__dropdown-menu">
                    <li><a href="icons.html">Icons</a></li>
                    <li><a href="elements.html">Elements</a></li>
                  </ul>
                </li>
                <li class="nav__dropdown">
                  <a href="blog.html" aria-haspopup="true">Blog</a>
                  <i class="ui-arrow-down nav__dropdown-trigger" role="button" aria-haspopup="true" aria-expanded="false"></i>
                  <ul class="nav__dropdown-menu">
                    <li><a href="blog.html">Blog Standard</a></li>
                    <li><a href="blog-masonry.html">Blog Masonry</a></li>
                    <li class="nav__dropdown">
                      <a href="single-post-1.html" aria-haspopup="true">Single Post</a>
                      <i class="ui-arrow-down nav__dropdown-trigger" role="button" aria-haspopup="true" aria-expanded="false"></i>
                      <ul class="nav__dropdown-menu">
                        <li><a href="single-post-1.html">Fullwidth</a></li>
                        <li><a href="single-post-2.html">With Sidebar</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="icons.html#">Purchase</a>
                </li>
              </ul> <!-- end menu -->

              <!-- Mobile Phone -->
              <div class="nav__phone-mobile d-lg-none">
                <a href="tel:1-800-995-3959" class="nav__phone-number">1-800-995-3959</a>
              </div>
              

              <!-- Mobile Search -->
              <div class="nav__search-mobile d-lg-none">
                <form role="search" method="get" class="search-form relative">
                  <input type="search" class="search-input" placeholder="Search" />
                  <button type="submit" class="search-button" aria-label="search button"><i class="ui-search search-icon"></i></button>
                </form>
              </div>

            </nav> <!-- end nav-wrap -->            


            <!-- Nav Right -->
            <div class="nav__right d-none d-lg-flex">
              <div class="nav__right-item">
                <a href="tel:1-800-995-3959" class="nav__phone-number">1-800-995-3959</a>
              </div>

              <!-- Search -->
              <div class="nav__right-item nav__search">
                <a href="icons.html#" class="nav__search-trigger" id="nav__search-trigger">
                  <i class="ui-search"></i>
                </a>               
              </div> 

            </div> <!-- end nav right -->
        
          </div> <!-- end flex-parent -->
        </div> <!-- end container -->

      </div>
    </header> <!-- end navigation -->

    <div class="content-wrapper oh">

      <!-- Page Title -->
      <section class="page-title bg-img bg-overlay" style="background-image: url('img/page_title/pricing.jpg')">
        <div class="container">
          <div class="page-title__holder">
            <h1 class="page-title__title">Icons</h1>
            <p class="subtitle">Enjoy Premium Icons included in this package</p>
          </div>
        </div>
      </section> <!-- end page title -->


      <!-- Icons -->
      <section class="section-wrap">
        <div class="container">
          <div class="row font-icons">
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-address-book-1"></i>
              <span>o-address-book-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-arrow-target-1"></i>
              <span>o-arrow-target-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-audio-call-1"></i>
              <span>o-audio-call-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-bill-1"></i>
              <span>o-bill-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-binocular-1"></i>
              <span>o-binocular-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-bookmark-1"></i>
              <span>o-bookmark-1</span>
            </div>

            <div class="col-lg-2 col-sm-3 col-4"><i class="o-business-report-1"></i>
              <span>o-business-report-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-calculator-1"></i>
              <span>o-calculator-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-businessman-1"></i>
              <span>o-businessman-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-calls-1"></i>
              <span>o-calls-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-camera-phone-1"></i>
              <span>o-camera-phone-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-camera-shutter-1"></i>
              <span>o-camera-shutter-1</span>
            </div>

            <div class="col-lg-2 col-sm-3 col-4"><i class="o-certificate-1"></i>
              <span>o-certificate-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-checkbox-confirm-circle-1"></i>
              <span>o-checkbox-confirm-circle-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-checkmark-1"></i>
              <span>o-checkmark-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-close-1"></i>
              <span>o-close-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-cogwheel-1"></i>
              <span>o-cogwheel-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-config-1"></i>
              <span>o-config-1</span>
            </div>

            <div class="col-lg-2 col-sm-3 col-4"><i class="o-contact-1"></i>
              <span>o-contact-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-currency-1"></i>
              <span>o-currency-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-customer-support-1"></i>
              <span>o-customer-support-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-data-content-1"></i>
              <span>o-data-content-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-delete-circle-1"></i>
              <span>o-delete-circle-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-diamond-1"></i>
              <span>o-diamond-1</span>
            </div>

            <div class="col-lg-2 col-sm-3 col-4"><i class="o-diploma-1"></i>
              <span>o-diploma-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-doctor-1"></i>
              <span>o-doctor-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-dollar-bill-1"></i>
              <span>o-dollar-bill-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-edit-document-1"></i>
              <span>o-edit-document-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-edit-folder-1"></i>
              <span>o-edit-folder-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-eye-1"></i>
              <span>o-eye-1</span>
            </div>

            <div class="col-lg-2 col-sm-3 col-4"><i class="o-file-manager-1"></i>
              <span>o-file-manager-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-goal-1"></i>
              <span>o-goal-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-handshake-1"></i>
              <span>o-handshake-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-health-1"></i>
              <span>o-health-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-lady-1"></i>
              <span>o-lady-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-lightning-bolt-1"></i>
              <span>o-lightning-bolt-1</span>
            </div>

            <div class="col-lg-2 col-sm-3 col-4"><i class="o-man-1"></i>
              <span>o-man-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-medical-record-1"></i>
              <span>o-medical-record-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-minus-circle-1"></i>
              <span>o-minus-circle-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-money-1"></i>
              <span>o-money-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-music-volume-eq-1"></i>
              <span>o-music-volume-eq-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-numbers-1"></i>
              <span>o-numbers-1</span>
            </div>

            <div class="col-lg-2 col-sm-3 col-4"><i class="o-paper-plane-1"></i>
              <span>o-paper-plane-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-pay-by-card-1"></i>
              <span>o-pay-by-card-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-people-1"></i>
              <span>o-people-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-percentage-1"></i>
              <span>o-percentage-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-pin-1"></i>
              <span>o-pin-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-pin-2"></i>
              <span>o-pin-2</span>
            </div>

            <div class="col-lg-2 col-sm-3 col-4"><i class="o-pos-terminal-1"></i>
              <span>o-pos-terminal-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-price-calculator-1"></i>
              <span>o-price-calculator-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-quit-1"></i>
              <span>o-quit-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-rating-1"></i>
              <span>o-rating-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-read-email-1"></i>
              <span>o-read-email-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-read-receipt-email-1"></i>
              <span>o-read-receipt-email-1</span>
            </div>

            <div class="col-lg-2 col-sm-3 col-4"><i class="o-recurring-appointment-1"></i>
              <span>o-recurring-appointment-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-refresh-database-1"></i>
              <span>o-refresh-database-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-reload-1"></i>
              <span>o-reload-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-ribbon-1"></i>
              <span>o-ribbon-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-rocket-1"></i>
              <span>o-rocket-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-sales-performance-up-1"></i>
              <span>o-sales-performance-up-1</span>
            </div>

            <div class="col-lg-2 col-sm-3 col-4"><i class="o-sales-up-1"></i>
              <span>o-sales-up-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-search-magnify-1"></i>
              <span>o-search-magnify-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-share-1"></i>
              <span>o-share-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-shared-files-1"></i>
              <span>o-shared-files-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-smartphone-1"></i>
              <span>o-smartphone-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-social-1"></i>
              <span>o-social-1</span>
            </div>

            <div class="col-lg-2 col-sm-3 col-4"><i class="o-special-price-1"></i>
              <span>o-special-price-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-speedometer-1"></i>
              <span>o-speedometer-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-statistic-1"></i>
              <span>o-statistic-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-strategy-1"></i>
              <span>o-strategy-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-stream-video-1"></i>
              <span>o-stream-video-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-support-1"></i>
              <span>o-support-1</span>
            </div>

            <div class="col-lg-2 col-sm-3 col-4"><i class="o-synced-book-1"></i>
              <span>o-synced-book-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-synchronize-1"></i>
              <span>o-synchronize-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-syncing-document-1"></i>
              <span>o-syncing-document-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-telephone-operator-1"></i>
              <span>o-telephone-operator-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-timer-1"></i>
              <span>o-timer-1</span>
            </div>
            <div class="col-lg-2 col-sm-3 col-4"><i class="o-woman-1"></i>
              <span>o-woman-1</span>
            </div>
          </div>
        </div> 
      </section> <!-- end icons -->


      <!-- CTA -->
      <section class="section-wrap call-to-action text-center section-wrap--pb-140 bg-white-gradient" style="background-image: url('img/cta/cta_img_1.jpg');">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">

              <h3 class="call-to-action__title">
                Ready to get started? Get your Finance out of the way
              </h3>
              <p class="call-to-action__text lead">If you deliver enough value, making money becomes the easy part. Why should you be stressful? Let us make this easier
              for you.</p>
              <a href="icons.html#" class="btn btn--lg btn--color">
                <span>Contact Us</span>
              </a>               

            </div>
          </div>
        </div> 
      </section> <!-- end cta -->

      <!-- Footer -->
      <footer class="footer">
        <div class="container">
          <div class="footer__widgets">
            <div class="row">

              <div class="col-lg-3 col-md-6">
                <div class="widget widget-about-us">
                  <!-- Logo -->
                  <a href="index.html" class="logo-container flex-child">
                    <img class="logo" src="img/logo.png" srcset="img/logo.png 1x, img/logo@2x.png 2x" alt="logo">
                  </a>
                  <div class="socials mt-32">
                    <a href="icons.html#" class="social social-twitter" aria-label="twitter" title="twitter" target="_blank"><i class="ui-twitter"></i></a>
                    <a href="icons.html#" class="social social-facebook" aria-label="facebook" title="facebook" target="_blank"><i class="ui-facebook"></i></a>
                    <a href="icons.html#" class="social social-google-plus" aria-label="google plus" title="google plus" target="_blank"><i class="ui-google"></i></a>
                  </div>
                </div>
              </div> <!-- end about us -->


              <div class="col-lg-3 offset-lg-3 col-md-6">
                <div class="widget widget_nav_menu">
                  <h5 class="widget-title">Solutions</h5>
                  <ul>
                    <li><a href="icons.html#">Finance Strategy</a></li>
                    <li><a href="icons.html#">Advertising</a></li>
                    <li><a href="icons.html#">SMM</a></li>
                    <li><a href="icons.html#">SEO</a></li>
                    <li><a href="icons.html#">Google AdWords</a></li>
                  </ul>
                </div>
              </div>


              <div class="col-lg-3 col-md-6">
                <div class="widget widget-address">
                  <h5 class="widget-title">Company</h5>
                  <ul>
                    <li><address>8910 University Center Lane Suite 620 San Diego, CA 92102</address></li>
                    <li>
                      <span>Phone: </span>
                      <a href="tel:+1-800-1554-456-123">+ 1 (800) 155 4561</a>
                    </li>
                    <li>
                      <span>Email: </span>
                      <a href="mailto:hi@margin.com">hi@margin.com</a>
                    </li>
                  </ul>
                </div>
              </div>           

            </div>
          </div>    
        </div> <!-- end container -->

        <div class="footer__bottom">
          <div class="container">
            <div class="row">              
              <div class="col-lg-6">
                <div class="widget widget_nav_menu">
                  <ul>
                    <li><a href="icons.html#">About</a></li>
                    <li><a href="icons.html#">Services</a></li>
                    <li><a href="icons.html#">Pricing</a></li>
                    <li><a href="icons.html#">Blog</a></li>
                    <li><a href="icons.html#">Contact</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 text-right text-md-center">
                <span class="copyright">
                  &copy; 2019 Casumi, Made by <a href="../../../index.html">DeoThemes</a>
                </span>
              </div>
            </div>            
          </div>
        </div> <!-- end footer bottom -->
      </footer> <!-- end footer -->

      <div id="back-to-top">
        <a href="icons.html#top"><i class="ui-arrow-up"></i></a>
      </div>

    </div> <!-- end content wrapper -->
  </main> <!-- end main wrapper -->
  

  <!-- jQuery Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/scripts.js"></script>

  <!-- Cookies -->
  <script src="js/plugins/cookieconsent.min.js"></script>
  <script src="js/cookies.js"></script>
    
</body>
</html>